@import "tailwindcss";

:root {
  --background: #f7f7ff;
  --foreground: #01161e;
  /* Main color (buttons, links, ctas) */
  --engineering-orange: #c03221ff;
  /* Secondary color (cards, sections, active elements) */
  --midnight-green: #124559ff;
  /* Accent color (hover states) */
  --air-force-blue: #598392ff;

  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);

  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);

  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --color-main: var(--engineering-orange);
  --color-secondary: var(--midnight-green);
  --color-accent: var(--air-force-blue);

  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);

  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply border-border outline-main/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
